PORT=port_number
MONGO_URI=your_mongodb_uri
JWT_SECRET=your_secret_key

CLOUDINARY_CLOUD_NAME= #add cloudinary name
CLOUDINARY_API_KEY= #Cloudinary API key
CLOUDINARY_API_SECRET= #Cloudinary API Secret

ALLOWED_ORIGINS= #add comma seperated origin